body {
  background: #9595d4;
  padding-top: 2rem;
}

.quote {
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #f5f0f0;
  transition: 0.4s;
}
.quote:hover {
  box-shadow: 4px 6px 8px #e2c0c0;
}

.quote .text {
  font-style: italic;
  margin-bottom: 0.4rem;
}
.quote .author {
  font-weight: bold;
  color: #363636;
}

.button {
  font-size: 1.4rem;
  color: #fff;
  background: #161681;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transition: 0.4s;
}

.button:hover {
  background: #0f0f49;
  transform: scale(0.9);
}
